
.bottom-bar {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: aliceblue;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    margin: 0;    
    white-space: nowrap;
    width: 90%;   
    height: 7vh; 
}

.bottom-bar-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    background: transparent;
    font-size: 13px;
    font-family: monospace;
    color: black;    
    overflow: hidden;  
    background-color: aliceblue;  
}

.bottom-bar-button:active * {
    background-color: rgb(187, 187, 187);      
}
  
.bottom-bar-img {
    background-color: aliceblue;
}

.bottom-bar-btn-text {         
    white-space: nowrap;    
    text-overflow: ellipsis;
    padding: 0;  
    background-color: aliceblue;
}