
.calendar {
    position: relative;
    width: 100%;
    background-color: #191919;
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(rgb(184, 184, 184), 0.5);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 5%;
  }
  
  .calendar__header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #e8e8e8;
    text-shadow: 0 2px 2px rgba(#000, 0.2);
    margin-left: 10%;
  }
  
  .calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11%, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
  }
  
  .calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    color: #e8e8e8;
  }
  
  .calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    color: #e8e8e8; 
  }

  .calendar__arrows {
    display: inline-block;
    padding-left: 22%;
    padding-right: 22%;
  }
  
  .calendar__arrows:active {
    background: #393939;
  }
  
  .calendar__arrows:active * {
    background: #393939;
  }

  .arrow__back {
    float: left;
  }
  
  .arrow__next {
    float: right;
  }