
* {
    background-color: #191919;
    padding: 0;
    margin: 0;
}

.m-font {
    color: #e8e8e8;
    font-size: 20pt;
    font-family: monospace;
    text-align: center;
  }
  
  .m-transition-delay {
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
  }
  
  .m-button {
   background: none;
   color: #393939;
   border: 2px solid #393939;
   outline: none;
   display: block;
   position: relative;
   font-size: 5vh;
   width: 100%;
   margin-bottom: 5%;
  }
  
  .m-button:active {
      color: #85b9e3;
  }
  
  .m-frame {
    outline: 2px solid #393939;
    position: absolute;    
    margin: 3% 3% 3% 3%;
    padding-left: 10%;
    padding-right: 10%;    
  }
  
  .m-input-group {

  }
  
  .m-input {
    display: block;
    border: none;
    border-bottom: 1px solid #393939;
    background: none;
    width: 100%;
  }
  
  .m-input:focus {
    outline: none;
  }
  
  .m-input:focus ~ .m-input-label,
  .m-input:valid ~ .m-input-label {
    top: -50px;
    font-size: 2vh;;
    color: #85b9e3;
  }
  
  .m-input-label {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
    font-size: 3vh;
  }
  
  .m-input-bar {
    position: relative;
    display: block;
  }
  
  .m-input-bar:before, .m-input-bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #85b9e3;
    transition: 0.4s ease all;
  }
  
  .m-input-bar:before {
    left: 0;
  }
  
  .m-input-bar:after {
    right: 0;
  }
  
  .m-input:focus ~ .m-input-bar:before,
  .m-input:focus ~ .m-input-bar:after {
    width: 50%;
  }
  
  .m-title {
    margin-top: 5vh;
    font-size: 5vh;
    text-align: center;
    width: 100%;
  }

  .m-select {
    width: 100%;
    height: 5%;
    background: transparent;
    background-color: #191919;
    color: #e8e8e8;
    font-size: 10pt;
    margin-top: 10vh;
    margin-bottom: 0;
    text-align-last: center;
    border: none;
    border-bottom: 1px solid #393939;
  }
 
 .m-select:hover {
     color: #85b9e3;
 }
 
 .m-select:focus ~ .m-input-label {
   top: -60px;
   font-size: 2vh;;
   color: #85b9e3;
 }