
* {
    background-color: #191919;
    padding: 0;
    margin: 0;    
}
  
.main-menu {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
  
.list-bookings {
  margin: 0 0 0 0;
  padding: 1vh 0 0 0;
  background: transparent;
  height: 85vh;
  list-style-type: none;
  overflow-y: scroll;
}
  
.booking {
  background: transparent;
  display: flex;
  flex-direction: column;
  border: 4px double #393939;
  border-radius: 2vh;  
  margin: 1vh 1vh 1vh 1vh;
  overflow: hidden;
}
  
.booking-item {
  display: inline;
  border: 4px double #393939;
  border-radius: 2vh;
  margin-left: 2vh;
  white-space: nowrap;
  line-height: 8vh;
  text-overflow: ellipsis;
  padding: 5px 5px 5px 5px;
  color: #e8e8e8;
}

.booking-img {
  width: 6%;
  height: 6%;  
}

.booking-img:active {    
  background-color: rgb(187, 187, 187);      
}

.booking-info {
  overflow: hidden;  
} 

.booking-edit-panel {  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2%;
}