
.h-scroll-list {
    display: flex;
    flex-direction: row;   
    margin: 0;
    width: 100%;
    height: 7vh;   
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .upper-bar-item {    
    display: flex;
    min-width: 40%;
    height: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;    
    font-size: 13px;
    font-family: monospace;
    color: #e8e8e8;
    border: 3px solid #393939;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .upper-bar-item:hover, .upper-bar-item:focus {
    background: #393939;    
  }
  
  .upper-bar-item:hover > .upper-bar-img, .upper-bar-item-text {    
    background-color: #393939;
    border-left: none;
    display: block;
  }

  .upper-bar-item-text {
    display: flex;
    padding: 0;
    height: 13px;        
    background: transparent;       
  }
  
  .upper-bar-img {
    height: 19px;
    width: 19px;
    float: right;
    display: none;
  }